body {
	background-color: #000000;
	background-image: url("https://images3.alphacoders.com/106/thumb-1920-1069102.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
.hobbys {
	color: #B400B1;
}